<div class="center jumbotron">
  <h1>Welcome to The Sample app</h1>
  <h2>This is a home page for RoR Tutorial</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org' %>
<!-- <%= image_tag("kitten.jpg", alt: "Nice cat photo") %> -->
